<% if flash[:message] %>
    <%= flash[:message] %>
<% end %>

<h1><%= @coffee.name %></h1>

<h2><a href="/roasters/<%= @coffee.roaster.slug %>"><%= @coffee.roaster.name %></a></h2>

<h3><i><%= @coffee.roast.capitalize %> roast</h3></i>

<h4><%= @coffee.name %> Feed:</h4>

<ul>
<% @coffee.cups.each do |cup| %>
    <li><%= cup.user.name %> had <%= cup.a_or_an %> <a href="/cups/<%= cup.id %>"><%= cup.brew %></a> on <%= cup.sip_date %>.</li>
<% end %>
</ul>

<a href="/coffees">Coffee Selection</a>
<br><br>
<a href='/cups'>Home</a> | <a href='/logout'>Log out</a>
