<h1>Edit a Cup</h1>

<form action="/cups/<%= @cup.id %>" method="POST">

  <input id="hidden" type="hidden" name="_method" value="patch">

  <label for="brew">Brew:</label>
  <br>
  <select name="cup[brew]" id="brew">
    <option value="<%= @cup.brew %>" selected><%= @cup.brew.capitalize %></option>
    <% @brews.each do |brew| %>
      <option value="<%= brew %>"> <%= brew %> </option>
    <% end %>
  </select> 

  <br><br>

  <label for="coffee_name">Coffee Name</label>
  <br>
  <input type="text" name="coffee[name]" id="coffee_name" value="<%= @cup.coffee.name %>">

  <br><br>

  <label for="coffee_roast">Roast:</label>
  <br>
  <% @roasts.each do |roast| %>
    <input type="radio" name="coffee[roast]" id="coffee_roast" value="<%=roast%>" <%='checked' if @cup.coffee.roast==roast %>><%=roast%></input>
  <% end %>

  <br><br>

  <label for="roaster">Select the Coffee Roaster:</label>
  <br>
  <% @roasters.each do |roaster| %>
    <input type="radio" name="coffee[roaster_id]" id="roaster" value="<%=roaster.id%>" id="<%=roaster.id%>" <%= 'checked' if @cup.coffee.roaster==roaster %>><%=roaster.name%><br></input>
  <% end %><input type="radio" name="coffee[roaster_id]" id="roaster" value="<%=nil%>">...or post a new Roaster: <input type="text" name="roaster[name]" id="roaster"></input>

  <br><br>

  <input type="submit">

</form>

<a href="/cups">Home</a> | <a href="/logout">Log out</a>