<% if flash[:message] %>
    <%= flash[:message] %>
<% end %>

<h1>Coffee Cups</h1>
<h3>Welcome, <%= current_user.name %>!</h3>
<h4><a href="/users/<%= current_user.slug %>">You've sipped</a> <%= current_user.cups.size %> cups.</h4>

<ul>
<% @cups.each do |cup|%>
  <li><%= cup.user.name %> had a <a href="/cups/<%= cup.id %>">cup</a> of <a href="/coffees/<%= cup.coffee.roaster.slug %>/<%= cup.coffee.slug %>"><%= cup.coffee.name %></a> on <%= cup.sip_date %>.</li>
<% end %>
</ul>

 <form action="/cups/new" method="GET">
    <input type="submit" id="new_cup" value="SIP A CUP">
 </form>

 <a href='/logout'>Log out</a>
