<h1>Sip a Cup</h1>

<form action="/cups" method="POST">

  <label>Brew:</label>
  <br>
  <input type="text" name="cup[brew]" id="brew" placeholder="drip, latte, iced..." required />

  <br><br>

  <label>Coffee Name:</label>
  <br>
  <input type="text" name="coffee[name]" id="coffee_name" placeholder="House Blend" required />

  <br><br>

  <label>Roast:</label>
  <br>
  <% @roasts.each do |roast| %>
    <input type="radio" name="coffee[roast]" id="coffee_roast" value="<%=roast%>" required ><%=roast%></input>
  <% end %>

  <br><br>

  <label>Select the Coffee Roaster:</label>
  <br>
  <% @roasters.each do |roaster| %>
    <input type="radio" name="coffee[roaster_id]" id="roaster" value="<%=roaster.id%>" id="<%=roaster.id%>"><%=roaster.name%><br></input>
  <% end %><input type="radio" name="coffee[roaster_id]" id="roaster" value="<%=nil%>">...or post a new Roaster: <input type="text" name="roaster[name]" id="roaster"></input>

 <br><br>

  <input type="submit">

</form>

<a href="/cups">Home</a> | <a href="/logout">Log out</a>
